commands:
  01_download_node_exporter:
    command: wget https://github.com/prometheus/node_exporter/releases/download/v1.9.0/node_exporter-1.9.0.linux-amd64.tar.gz -P /tmp
  02_extract_node_exporter:
    command: tar xvfz /tmp/node_exporter-1.9.0.linux-amd64.tar.gz -C /opt
  03_start_node_exporter:
    command: nohup /opt/node_exporter-1.9.0.linux-amd64/node_exporter > /dev/null 2>&1 &